<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Mukta"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/live-view.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <nav>Navbar</nav>
      <main>Main content</main>
      <div id="sidebar">
        <a href="/">
          <span class="material-icons-round"> home </span>
          <h3 class="sidebar-text">Home</h3>
        </a>
        <a href="/analytics">
          <span class="material-icons-round"> insights </span>
          <h3 class="sidebar-text">Analytics</h3>
        </a>
        <a href="/drivers">
          <span class="material-icons-round"> group </span>
          <h3 class="sidebar-text">Drivers</h3>
        </a>
        <a href="/live-view">
          <span class="material-icons-round"> map </span>
          <h3 class="sidebar-text">Live View</h3>
        </a>
        <a href="/settings">
          <span class="material-icons-round"> settings </span>
          <h3 class="sidebar-text">Settings</h3>
        </a>

        <a href="/reports">
          <span class="material-icons-round"> report </span>
          <h3 class="sidebar-text">Reports</h3>
          <span class="report-count">2</span>
        </a>
        <a href="#">
          <span class="material-icons-round"> logout </span>
          <h3 class="sidebar-text">Logout</h3>
        </a>
      </div>

      <footer>Footer</footer>
    </div>
  </body>
</html>
